@model Universidad.Models.SearchFlightResult

@{
    ViewData["Title"] = "FlightList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Vuelos</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Detalle reserva de Vuelos <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>

                <div class="x_content">
                    <div class="x_content">
                        <br />
                        <div class="row">
                            <div class="col-md-12 col-sm-12 ">
                                <div class="x_panel">
                                    <div class="x_content">
                                        <div class="dashboard-widget-content">

                                            <div class="x_panel">

                                                @{
                                                    int count = 1;
                                                    var countries = Model.Countries;
                                                    var airplanes = Model.Airplanes;
                                                    string people = (Model.DataFlight.Adults + Model.DataFlight.Minors + Model.DataFlight.Baby) > 1 ? "personas" : "persona";

                                                    <h2>Vuelo de ida</h2>
                                                    <div class="x_content">
                                                        <ul class="list-unstyled timeline">

                                                            @foreach (var item in Model.FlightsSatrt)
                                                            {
                                                                string direct = item.Direct == "1" ? "Si" : "No";

                                                                double amountEco = item.PriceEconomical * (Model.DataFlight.Adults + Model.DataFlight.Minors);
                                                                double amountFrist = item.PriceFrist * (Model.DataFlight.Adults + Model.DataFlight.Minors);
                                                                <li>

                                                                    <div class="block">
                                                                        <div class="tags">
                                                                            <a class="tag">
                                                                                <span>Vuelo @count</span>
                                                                            </a>
                                                                        </div>
                                                                        <div class="block_content">
                                                                            <h2 class="title">
                                                                                <a>@countries.Find(x => x.IdCountry == item.IdOriginCountry).Name <i class="fa fa-arrow-right" aria-hidden="true"></i>   @countries.Find(x => x.IdCountry == item.IdDestinationCountry).Name</a>
                                                                            </h2>
                                                                            <input type="hidden" name="countryStart" value="@countries.Find(x => x.IdCountry == item.IdOriginCountry).Name" />
                                                                            <input type="hidden" name="countryEnd" value="@countries.Find(x => x.IdCountry == item.IdDestinationCountry).Name" />
                                                                            <br /><br />
                                                                            <div class="clearfix"></div>
                                                                            <h2 class="title">Detalles del vuelo</h2>
                                                                            <div class="clearfix"></div>
                                                                            <div class="clearfix"></div>
                                                                            <div class="byline">
                                                                                <span>Duración: </span> @item.Duration
                                                                                <input type="hidden" name="Duration" value="@item.Duration" />
                                                                            </div>
                                                                            <div class="byline">
                                                                                <span>Directo: </span> @direct
                                                                                <input type="hidden" name="Direct" value="@direct" />
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                            <h2 class="title">Detalles del avión</h2>
                                                                            <div class="clearfix"></div>
                                                                            <div class="byline">
                                                                                <span>Modelo: </span> @item.Airplane
                                                                                <input type="hidden" name="Airplane" value="@item.Airplane" />
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                            <h2 class="title">Detalle del precios</h2>
                                                                            <div class="clearfix"></div>
                                                                            <div class="byline">
                                                                                <span>Precio económica </span> $@item.PriceEconomical por persona
                                                                                <input type="hidden" name="priceEco" value="$@item.PriceEconomical por persona" />
                                                                            </div>
                                                                            <div class="byline">
                                                                                <span>Precio primera clase </span> $@item.PriceFrist por persona
                                                                                <input type="hidden" name="priceFirst" value="$@item.PriceFrist por persona" />
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                            <h2 class="title">Totales</h2>
                                                                            <div class="clearfix"></div>
                                                                            @if (Model.DataFlight.PriceIdaEco == 1)
                                                                            {
                                                                                <div class="byline">
                                                                                    <input type="hidden" name="valueEco" value="$@amountEco" />
                                                                                    <span>Total económica </span>  $@amountEco para @(Model.DataFlight.Adults + Model.DataFlight.Minors) @people <input type="checkbox" class="" name="economicaIda" id="economicaIda" value="economica" checked="" disabled="disabled" />
                                                                                    <input type="hidden" name="totalPriceEco" value="Total económica $@amountEco para @(Model.DataFlight.Adults + Model.DataFlight.Minors) @people" />
                                                                                </div>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="byline">
                                                                                    <input type="hidden" name="valueFrist" value="$@amountFrist" />
                                                                                    <span>Total primera clase </span>      $@amountFrist para @(Model.DataFlight.Adults + Model.DataFlight.Minors) @people   <input type="checkbox" class="" name="primeraIda" id="primeraIda" value="primera" checked="" disabled="disabled" />
                                                                                    <input type="hidden" name="totalPriceFirst" value="Total primera clase $@amountFrist para @(Model.DataFlight.Adults + Model.DataFlight.Minors) @people" />
                                                                                </div>
                                                                            }
                                                                            <div class="clearfix"></div>
                                                                            <div class="byline">
                                                                                @foreach (var item2 in Model.Luggages)
                                                                                {
                                                                                    var name = item2.Description + " " + item2.MaxKilos + "kg " + " $" + @item2.Price + "  ";
                                                                                    string id = "vuelta" + item2.MaxKilos;
                                                                                    if (item2.IdLuggage == Model.DataFlight.LuggageStart)
                                                                                    {
                                                                                        <input type="checkbox" class="" name="@id" id="@id" value="@item2.MaxKilos" checked="checked" disabled="disabled" /> @name
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="checkbox" class="" name="@id" id="@id" value="@item2.MaxKilos" disabled="disabled" /> @name
                                                                                    }
                                                                                }
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                    </div>

                                                                </li>

                                                                count++;
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </div>

                                            @if (Model.DataFlight.IdFligReturn != 0)
                                            {
                                                <div class="x_panel">

                                                    @{
                                                        count = 1;

                                                        <div class="x_content">

                                                            <h2>Vuelo de regreso</h2>
                                                            <ul class="list-unstyled timeline">

                                                                @foreach (var item in Model.FlightsSatrt)
                                                                {
                                                                    string direct = item.Direct == "1" ? "Si" : "No";

                                                                    double amountEco = item.PriceEconomical * (Model.DataFlight.Adults + Model.DataFlight.Minors);
                                                                    double amountFrist = item.PriceFrist * (Model.DataFlight.Adults + Model.DataFlight.Minors);

                                                                    <li>

                                                                        <div class="block">
                                                                            <div class="tags">
                                                                                <a class="tag">
                                                                                    <span>Vuelo @count</span>
                                                                                </a>
                                                                            </div>
                                                                            <div class="block_content">
                                                                                <h2 class="title">
                                                                                    <a>@countries.Find(x => x.IdCountry == item.IdDestinationCountry).Name <i class="fa fa-arrow-right" aria-hidden="true"></i>  @countries.Find(x => x.IdCountry == item.IdOriginCountry).Name </a>
                                                                                </h2>
                                                                                <input type="hidden" name="countryStart" value="@countries.Find(x => x.IdCountry == item.IdOriginCountry).Name" />
                                                                                <input type="hidden" name="countryEnd" value="@countries.Find(x => x.IdCountry == item.IdDestinationCountry).Name" />
                                                                                <br /><br />
                                                                                <div class="clearfix"></div>
                                                                                <h2 class="title">Detalles del vuelo</h2>
                                                                                <div class="clearfix"></div>
                                                                                <div class="clearfix"></div>
                                                                                <div class="byline">
                                                                                    <span>Duración: </span> @item.Duration
                                                                                    <input type="hidden" name="DurationVuelta" value="@item.Duration" />
                                                                                </div>
                                                                                <div class="byline">
                                                                                    <span>Directo: </span> @direct
                                                                                    <input type="hidden" name="DirectVuelta" value="@direct" />
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                                <h2 class="title">Detalles del avión</h2>
                                                                                <div class="clearfix"></div>
                                                                                <div class="byline">
                                                                                    <span>Modelo: </span> @item.Airplane
                                                                                    <input type="hidden" name="AirplaneVuelta" value="@item.Airplane" />
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                                <h2 class="title">Detalle del precios</h2>
                                                                                <div class="clearfix"></div>
                                                                                <div class="byline">
                                                                                    <span>Precio económica </span> $@item.PriceEconomical por persona
                                                                                    <input type="hidden" name="priceEcoVuelta" value="$@item.PriceEconomical por persona" />
                                                                                </div>
                                                                                <div class="byline">
                                                                                    <span>Precio primera clase </span> $@item.PriceFrist por persona
                                                                                    <input type="hidden" name="priceFirstVuelta" value="$@item.PriceFrist por persona" />
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                                <h2 class="title">Totales</h2>
                                                                                <div class="clearfix"></div>
                                                                                @if (Model.DataFlight.PriceIdaEco == 1)
                                                                                {
                                                                                    <div class="byline">
                                                                                        <input type="hidden" name="valueEcoVuelta" value="$@amountEco" />
                                                                                        <span>Total económica </span>  $@amountEco para @(Model.DataFlight.Adults + Model.DataFlight.Minors) @people <input type="checkbox" class="" name="economicaVuelta" id="economicaVuelta" value="economica" checked="" onclick="pricetkVueltaEco();" />
                                                                                        <input type="hidden" name="totalPriceEcoVuelta" value="Total económica $@amountEco para @(Model.DataFlight.Adults + Model.DataFlight.Minors) @people" />
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="byline">
                                                                                        <input type="hidden" name="valueFristVuelta" value="$@amountFrist" />
                                                                                        <span>Total primera clase </span>      $@amountFrist para @(Model.DataFlight.Adults + Model.DataFlight.Minors) @people   <input type="checkbox" class="" name="primeraVuelta" id="primeraVuelta" value="primera" checked="" onclick="pricetkVueltaFrist();" />
                                                                                        <input type="hidden" name="totalPriceFirstVuelta" value="Total primera clase $@amountFrist para @(Model.DataFlight.Adults + Model.DataFlight.Minors) @people" />
                                                                                    </div>
                                                                                }
                                                                                <div class="clearfix"></div>                                                                                
                                                                                <div class="byline">
                                                                                    @foreach (var item2 in Model.Luggages)
                                                                                    {
                                                                                        var name = item2.Description + " " + item2.MaxKilos + "kg " + " $" + @item2.Price + "  ";
                                                                                        string id = "vuelta" + item2.MaxKilos;
                                                                                        if (item2.IdLuggage == Model.DataFlight.LuggageReturn)
                                                                                        {
                                                                                            <input type="checkbox" class="" name="@id" id="@id" value="@item2.MaxKilos" checked="checked" disabled="disabled" /> @name
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input type="checkbox" class="" name="@id" id="@id" value="@item2.MaxKilos" disabled="disabled" /> @name
                                                                                        }
                                                                                    }
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </div>

                                                                    </li>
                                                                    count++;
                                                                }
                                                            </ul>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

       

    </script>
}